h1 {
  color: blue;
  font-size: 36px;
  margin: 40px;
}
/*
.card-student {
    border: 1px solid @border-color;
    width: 600px;
    background-color: @bg-color;
    margin: @margin;
}

.first-student {
 background-color: @color;
 padding: 10px;
 color: white;
}
*/
.card-student {
  border: 1px solid red;
  width: 600px;
  background-color: yellow;
  margin: 10px;
}
.first-student {
  border: 1px solid red;
  width: 600px;
  background-color: yellow;
  margin: 10px;
  font-size: 18px;
  color: red;
}
